.aviso{
    top: 55px;
    z-index: 3;
    position: fixed;
    flex-direction: column;
    z-index: 200;
    margin: 0 auto;
    width: 100%;
}

.header{
    width: 80%;
    min-width: 80%;
    border-radius: 9px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.message{
    margin: 5% auto;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    margin: 0 5%;
    max-width: 185px;
}

@media only screen and (min-width: 866px) {

    .header{
        margin-top: 0;
        min-width: 75vw;
        width: 75vw;
    }

    .message div{
        min-height: 60vh;
        height: 60vh;
        max-height: 60vh;
    }
}