.aviso{
    top: 55px;
    z-index: 3;
    position: fixed;
    flex-direction: column;
    z-index: 200;
    margin: 0 auto;
    width: 100%;
}

.header{
    width: 80%;
    min-width: 80%;
    border-radius: 9px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.message{
    margin: 5% auto;
}

.message p{
    text-align: justify;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    margin: 0 5%;
    max-width: 185px;
}

@media only screen and (min-width: 550px) {

    .aviso{
        width: 30%;
        height: 60%;
        position: absolute;
        left: 30%;
        top: 10%;
    }

    .header{
        width: auto;
        min-width: auto;
        margin-top: 0;
    }

    .message{
        height: 100%;
    }

    .message div{
        width: 100%;
        max-height: inherit;
    }
    .message div::-webkit-scrollbar{
        display: none;
    }

}