@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}
.datosPersonales{
  

    h2{
        text-align: center;
    }
    .form-control{ 
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .image-upload{
            display: flex;
            justify-content: space-between ;
            align-items: center;
            border-radius: 1vh;
            background-color: #F5A303;
            margin: 2vh 3vh 0vh;
            padding: 1vh;
            >div{
                width: 10vh;
                height: 7vh;
                margin: 0;
            }
        }

    }

    button{
        color: black;
        background-color: #F5A303;
        margin: 0;
        width: 45vh;
        -webkit-box-shadow: 5px 0px 9px 0px rgba(0,0,0,0.48);
        -moz-box-shadow: 5px 0px 9px 0px rgba(0,0,0,0.48);
        box-shadow: 5px 0px 9px 0px rgba(0,0,0,0.48);
    }
    @include flexColumn()
}

.MuiTextField-root{
    
    max-width: 35vh;
    margin: 0 0 2vh 0 !important;
}

