.personalInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    z-index: 3;
}

.header {
    width: 80%;
    min-width: 80%;
    border-radius: 9px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    font-size: 0.9rem;
}

.background{
    background-image: url('../assets/cafe.jpg');
    height: 100vh;
    background-size: cover;
    z-index: 2;
    position: fixed;
    width: 100vw;
}

.card{
    margin: 5% auto;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.location{
    display: flex;
    width: 95%;
    margin: 4% auto;
    padding-left: 10px;
    box-sizing: border-box;
    align-items: center;
}

.location svg{
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

.closeMap{
    z-index: 102;
    color: white;
    position: absolute;
    right: 10%;
    top: 3%;
}

.input{
    width: 90%;
    margin: 4% auto;
    border: 1px solid #ccc;
    height: 35px;
    font-size: 1rem;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.input:focus{
    outline: 0.8px solid rgb(8, 143, 206);
}

.bad{
    border: 2px solid rgb(255, 0, 0);
}

.good{
    border: 2px solid rgb(11, 197, 5);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.buttons button{
    margin: 0 5%;
    max-width: 185px;
}

.aviso{
    display: flex;
    color: white;
    left: 5%;
    padding-left: 5%;
    margin: 3% 0;
    position: relative;
    width: 80vw;
    top: -2%;
}

.privacidad{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.avisoLink{
    color: white;
    font-size: 1.1rem;
    margin: 0 2%;
}

@media only screen and (min-width: 866px) {
    .header{
         width: 50%;
         min-width: 50%;
         margin-top: 0;
    }
 
    .card{
        width: 50%;
        margin: 2% auto;
        min-height: 65vh;
    }
 
    .card > div{
     width: 100%;
     max-height: 400px;
     background-color: white;
     font-size: 1.2rem;
     border-radius: 24px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     overflow-y: scroll;
     padding: 15px;
     margin: auto;
     height: 100%;
     min-height: 65vh;
     box-sizing: border-box;
    }

    .form{
        margin: 0;
    }
    
    .aviso{
        justify-content: center;
        margin: 0;
        margin-bottom: 1%;
    }

    .buttons{
        margin: 0;
    }
 }