.modal {
    position: absolute;
    top: 24vh;
    width: 100vw;
    height: 66vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 120;
    border-radius: 1.5rem;
    & h2 {
        box-shadow: 0px 3px 3px #000;
    }
    & Button{
        margin: 0;
        margin-bottom: 3vh;
    }
}

.modal::-webkit-scrollbar {
    display: none;
}
.negocio_imagen{
    width: 100%;
    max-height: 164px;
    object-fit: contain;
    border-radius: 70px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 800px) {
    .modal {
        top: 11vh;
        width: 60vw;
        margin: auto;
        left: 20vw;
        height: 83vh;
    }
}