@import '../../../../styles/Colors.scss';

.negocio{
    display: flex;
    flex-direction: column;
    top: 55px;
    height: calc(100vh - 120px);
    // min-height: calc(100vh - 120px);
    position: relative;
    overflow-y: scroll;
}

.editSize{
    height: calc(100vh - 200px);
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 7% 3%;
}

.header p{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

.header textarea{
    resize: none;
    width: 60%;
}


.fotoNegocio{
    max-width: 100px;
    max-height: 80px;
    border-radius: 150px;
    border: 1px solid $primary-color;
    margin-right: 3%;
}

.camera{
    max-width: 60px;
    max-height: 50px;
}

.blur{
    filter: blur(4px);
}

.save{
    position: fixed;
    width: 100vw;
    bottom: -10px;
    left: 24vw;
}

.save button {
    width: 50%;
}

button a{
    text-decoration: none;
    color: white;
}