.products{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    overflow-y: auto;
}

.products::-webkit-scrollbar{
    display: none;
}

.products hr{
    width: 99vw;
}

.emptyList{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.emptyList span{
    font-size: 1.5rem;
    color: #482856;
    font-weight: bold;
}