@import '../../../../../styles/Colors.scss';

.product {
    display: flex;
    padding: 5px;
}

.slide {
    transform: translateX(0);
}

.slide_out {
    transform: translateX(-170px);
}

.product_image {
    max-width: 70px;
    max-height: 80px;
    border-radius: 150px;
    padding: 5px;
    min-height: 80px;
    min-width: 70px;
    border: 2px solid $primary-color;
    
}

.product_desc{
    min-width: 50vw;
    margin: auto 0;
    max-height: 65px;
    padding-left: 3%;
    max-width: 60vw;
}

.product_desc div{
    font-weight: bold;
} 

.showedOptions{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    transition: transform 400ms ease-in-out;
    height: 100%;
    //test
    position: relative;
}

.editIcon{
    max-width: 23px;
    max-height: 38px;
    margin: 0;
    // margin: auto 50px;
    //test

}

.icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
}

// .product_addToCar {
//     max-width: 38px;
//     max-height: 41px;
//     margin: auto 0;
// }