.products{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.products::-webkit-scrollbar{
    display: none;
}

.products hr{
    width: 99vw;
}

.emptyList{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.emptyList span{
    font-size: 1.5rem;
    color: #482856;
    font-weight: bold;
}

@media only screen and (max-width: 866px){
    .products{
        height: 60vh;
        min-height: 60vh;
        max-height: 60vh;
    }
}