.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f8f8f8;
    height: 43%;
}

.table div:first-child{
    text-align: center;
    margin-bottom: 10px;
}

.days{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 6px;
}

.day{
    position: relative;
    width: 30%;
}

.box select {
    background-color: #482856;
    color: white;
    border: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
  
.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
  
.box select option {
    padding: 30px;
}