.options{
    display: flex;
    flex-direction: column;
}

.delivery, .pay{
    display: flex;
    justify-content: flex-end;
}

.pay svg, .delivery svg{
    width: 25px;
    height: auto;
    margin: 2px;
}