@import '../../styles/Colors.scss';

.MuiFormControl-marginNormal{
    background-color: white !important;
    border-radius: 8px 8px 0px 0px !important;
    
}

.home {
    height: 100vh;
    width: 100%;
    background-color: $primary-color;

    &-container {
        width: 100%;
        padding-top: 3rem;

        &__logo {
            position: relative;
            height: 15rem;
            width: 100%;
            overflow: hidden;

            & img {
                position: absolute;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__login {
            padding-top: 1rem;
            text-align: center;

            & h3{
                color: $contrast-color;
            }

            & Button {
                margin: 5px 0px;
                width: 70%;
                border: 1px solid $contrast-color;
                font-weight: bold;
            }
        }
    }
}
