
.images{
    /* background-color: #ffffff96; */
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    display: flex;
    width: 45%;
    height: 100vh;
    transition: transform 400ms ease-in-out;
    z-index: 120;
    justify-content: center;
}

.images img{
    height: auto;
    width: 147px;
}

.slide_in {
    transform: translateX(0);
}

.slide_out {
    transform: translateX(-360px);
}

@media only screen and (min-width: 900px){
    .slide_out {
        transform: translateX(-600px);
    }
}