@import '../../../styles/Colors.scss';

.negocio{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
}

.negocio_imagen{
    width: 100%;
    max-height: 164px;
}

.amount {
    color: $pink-color;
    margin: 3% auto;
    font-size: 2rem;
}