.general{
    display: flex;
    position: relative;
    margin: 15px 0;
    width: 100%;
    height: 50%;
    padding: 10px 0;
    background-color: #ececec59;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 90%;
}

.input label{
    color:#482855b5;
}

.image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 10px;
}

.form{
    width: 70%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form input{
    font-size: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    margin: 2px 0;
}

.form textarea{
    height: 80px;
    font-size: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    resize: none;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    margin: 2px 0;
}

.fotoNegocio {
    max-width: 70px;
    max-height: 70px;
    border-radius: 150px;
    border: 1px solid #462454;
    margin: 0 4%;
    min-width: 70px;
    min-height: 70px;
}

.input input:focus, .input textarea:focus{
    outline: 0.8px solid rgb(8, 143, 206);
}

.bad{
    border: 2px solid rgb(255, 0, 0) !important;
}

.good{
    border: 2px solid rgb(11, 197, 5) !important;
}