@import "../../../../styles/Colors.scss";
.margin {
    margin-bottom: 0;
}
.left{
    float: left;
    width: 25%;
    max-height: 100px;
}
.center{
    float: left;
    width: 50%;
    max-height: 100px;
    text-align: left;
    margin-top: 5px;
}
.right{
    float: right;
    width: 25%;
    max-height: 100px;

}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.883);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 120;
    border-radius: 1.5rem;
    overflow: hidden;
    animation-name: stretch;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    &_body {
    }

    &_price {
        position: relative;
        display: flex;
        width: 3em;
        float: right;
        padding: 3px;
    }

    &_deliver {
        width: 9em;
        float: left;
    }

    &_noDeliver {
        width: 9em;
        float: right;
    }

    & Button {
        position: relative;
        background: #482856;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        width: 93%;
        margin: 6% auto;
    }
}

.pedidos_image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 150px;
    padding: 5px;

    &_noDeliver {
        border: 2px solid red;
    }

    &_deliver {
        border: 2px solid green;
    }
}
.centerInput input {
    height: 1.5em;
    width: 20em;
    border-radius: 1em;
    margin: 1.3em;
}

@media only screen and (max-width: 1024px) {
    // .modal {
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     height: 33em;

    //     &_body {
    //         position: relative;
    //         display: flex;
    //         width: 13em;
    //         float: left;
    //         padding: 3px;
    //     }

    //     &_price {
    //         position: relative;
    //         display: flex;
    //         width: 2em;
    //         float: right;
    //         padding: 3px;
    //     }
    // }
}

@media (max-width: 500px) {
    // .modal {
    //     width: 18em;

    //     box-sizing: border-box;
    //     padding: 15px;

    //     &_deliver {
    //         width: 7em;
    //         float: left;
    //     }
    //     &_onlyDeliver {
    //         width: 7em;
    //         margin-left: 5em;
    //     }

    //     &_noDeliver {
    //         width: 7em;
    //         float: right;
    //     }
    // }
}

// @keyframes stretch {
//     0% {
//         transform: translate(-50%, -50%) scale(0.2);
//     }
//     100% {
//         transform: translate(-50%, -50%) scale(2);
//     }
// }
