.card{
    z-index: 100;
    position: fixed;
    height: 70%;
    top: 20%;
    left: 6%;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    height: 100%;

    & h1{
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
        padding: 10px;
    }
}

.form{
    display: flex;
    flex-direction: column;

    & label{
        font-size: 1rem;
    }
}

.element{
    margin: 12px 0;
}

.buttons{
    width: 100%;
    margin: 0;
    display: flex;

    & button{
        width: 36%;
    }
}