.header{
    background-color: #F6A030;
    position: absolute;
    height: 55px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width: 55px;
    margin: auto 10px;
}

.header_title{
    margin: auto 0;
}

.header_burguer{
    margin: auto 12px;
}