@import '../../../styles/Colors.scss';

.header{
    background-color: $secundary-color;
    height: 55px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
}

.header_logo{
    width: 55px;
    height: auto;
    margin: auto 10px;
}

.header_title{
    margin: auto 0;
}

.header_burguer{
    margin: auto 12px;
}

.space{
    justify-content: space-around;
}