@import "../../../../../styles/Colors.scss";

.comments {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 125;
    margin: auto;
    height: 80vh;
    width: 50vw;
    background-color: white;
    border-radius: 20px;

    &-header {
        max-height: 5%;
        height: 5%;
        margin: 10px auto;
        text-align: center;
        color: $contrast-color;
    }

    &-customerInfo {
        height: 20%;
        max-height: 20%;
        & h3 {
            text-align: center;
        }

        &__name p {
            margin-left: 10px;

            & b {
                color: $primary-color;
                margin-left: 5px;
            }
        }
    }

    &__icon {
        height: 1rem;
        width: 1rem;
    }

    &-dishes {
        box-sizing: border-box;
        padding-left: 5px;
        overflow-y: auto;
        max-height: 42%;
        height: 42%;
        min-height: 42%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-around;

        & a {
            width: 40%;
            & button{
                width: 100%;

            }
        }

        & button {
            width: 40%;
            margin: 0px;
        }
    }
}

.pedidoDesc {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    & h4 {
        width: 10%;
        min-width: 10%;
        max-width: 10%;
        margin: auto;
        text-align: center;
    }
    & p {
        width: 45%;
        min-width: 45%;
        max-width: 45%;
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media only screen and (max-width: 866px) {
    .comments {
        width: 90vw;
    }
}
