.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 80%;
}

.Buttons a{
    text-decoration: none;
    color: white;
    display: flex;
}

@media only screen and (min-width: 550px) {
    .Buttons{
        margin-top: 0;
        width: 60%;
        height: 50%;
        justify-content: center;
    }   
}