.NegocioInfo{
    top: 55px;
    z-index: 3;
    position: relative;
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
}

.header{
    width: 80%;
    min-width: 80%;
    border-radius: 9px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    font-size: 0.9rem;
}
.card{
    margin: 5% auto;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location{
    display: flex;
    width: 95%;
}

.location svg{
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

.closeMap{
    z-index: 102;
    color: white;
    position: absolute;
    right: 10%;
    top: 3%;
}

.input{
    width: 95%;
    margin: 3% auto;
    border: 1px solid #ccc;
    height: 35px;
    font-size: 1rem;
    padding-left: 10px;
    box-sizing: border-box;
}

.textarea{
    width: 95%;
    margin: 3% auto;
    border: 1px solid #ccc;
    font-size: 1rem;
    padding-left: 10px;
    box-sizing: border-box;
    resize: none;
}

.input:focus, .textarea:focus{
    outline: 0.8px solid rgb(8, 143, 206);
}

.error{
    border: 2px solid rgb(255, 0, 0);
}

.good{
    border: 2px solid rgb(11, 197, 5);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    margin: 0 5%;
    max-width: 185px;
}


@media only screen and (min-width: 550px) {
    
    .header{
        margin-top: 0;
        margin: 2% auto;
        max-width: 50%;
        min-width: 50%;
        text-align: center;
    }

    .card{
        margin: 0 auto;
        max-width: 50%;
        min-width: 50%;
        height: 65vh;
    }

    .card > div{
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        max-height: fit-content;
    }

    .card > div::-webkit-scrollbar{
        display: none;  
    }

    .input{
        margin: 1.5% auto;
    }

    .buttons{
        margin: 3% auto;
        width: 50%; 
        margin-bottom: 0;
    }

}
