.background{
    background-image: url('../assets/cafe.jpg');
    height: 100vh;
    background-size: cover;
    z-index: 2;
    position: fixed;
    width: 100vw;
}

.registro{
    height: 100vh;
    position: relative;
}
