.Search_container {
    border-radius: 16px;
    background: white;
    box-shadow: 0 0 7px #000;
    margin: 12px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    overflow-y: auto;
}

.Search_container::-webkit-scrollbar {
    display: none;
}

.lupa {
    width: 30px;
    height: 56px;
    min-width: 30px;
    margin: auto 50px;
}
.Search_section svg:hover {
    transform: scale(1.5);
}
a {
    text-decoration: none;
}

.businessContainer {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    max-height: 190px;
}

.businessContainer a {
    width: 100%;
}

.Search_section {
    top: 3.3em;
    justify-content: center;
    align-items: center;
    background-color: #ececec5c;
    width: 100%;
    display: flex;
}
.direction{
    width: 84%;
}
.MuiInputBase input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    text-align: center;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 700px){
    .direction{
        width: 30vw
    }
}
