.Search_section svg{
    width: 30px;
    height: 56px;
    min-width: 30px;
    margin: auto 10px;
}

.Search_section svg:hover{
    transform: scale(1.3); 
}

.Search_section {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 10% auto;
    position: relative;
}